@import "tailwindcss";

@theme {
  --color-primary: #F27D26;
  --color-primary-hover: #E06C15;
  --color-sidebar: #000000;
}

@layer utilities {
  .bg-dots {
    background-image: radial-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 24px 24px;
  }
}

body {
  @apply bg-white text-black antialiased;
}
